/* This file will contain all the styles for the index page */
body {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(250, 250, 230);
}
.grid-container {
    display: flex;
    border: 1px solid rgb(2, 94, 2);
}
.empty-box {
    background-color: rgb(218, 208, 208);
    height: 50px;
    width: 50px;
    border: 1px solid rgb(2, 94, 2);
}
.hover-box {
    background-color: lightcyan;
}
button {
    height: 100px;
    width: 300px;
    margin: 100px 0;
    background-color: lightcyan;
    font-family: monospace;
    font-size: 25px;
}
.buttons {
    display: flex;
    flex-direction: column;
}